img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}


.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.divVoitures{
    display: flex;
    flex-direction: column;
}



@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}